<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liudehuang.dao.UserDao">
	<resultMap type="com.liudehuang.entity.User" id="userMapper">
		<result property="id" column="id"/>
		<result property="username" column="name"/>
	</resultMap>
	<select id="listUser" resultMap="userMapper">
		select 
			id,
			name
		from user_
	</select>
</mapper>